@font-face {
    font-family: UCL;
    src: url('./Champions-Bold.ttf');
}

*{padding: 0; margin: 0;}



body{
    width: 100%;
    height: 100vh;
    background-color: #000C64;
    font-family: UCL;
    color: white;
    scroll-behavior: smooth;
    
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container_up{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    text-transform: capitalize;
    display: none;
    text-align: center;
}

.team_input_section{
    box-sizing: border-box;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input:focus{
    outline: none;
}

#input{
    border-radius: 5px;
    box-sizing: border-box;
    width: 80%;
    height: 30px;
    padding-left: 10px;
}

#btn{
    width: 50px;
    height: 29px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021D92;
    cursor: pointer;
}

.material-symbols-outlined {
    color: white !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .restart{
    color: white !important;
  }

  .material-symbols-outlined:hover {
    color: green;
  }

  .buttons{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

.randomize{
    width: 50px;
    height: 30px;
    background-color:#021D92;
    transition: all 0.4s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reload{
    width: 50px;
    height: 30px;
    background-color: #021D92;
    transition: all 0.4s ease;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}



.team_list{
    width: 90%;
    max-width: 90%;
    height: 70%;
    display: flex;
    box-sizing: border-box;
    line-break: strict;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.group_list{
    width: 90%;
    max-width: 90%;
    height: 70%;
    display: flex;
    box-sizing: border-box;
    line-break: strict;
    gap: 20px;
    flex-wrap: wrap;
}

.group_table{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.team_style{
    text-align: left;
    text-transform: uppercase;
    width: 200px;
}

.vs{
    text-align: center;
    text-transform: uppercase;
}

.team_style_left{
    width: 200px;
    text-align: right;
    text-transform: uppercase;
    box-sizing: border-box;
}

.round{
    color:#CEDBE4 !important;
    margin-top: 50px;
    border-top: 1px solid #DE16ED;
}

.makeCouple{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media (max-width:759px) {
    .quote{
        font-size: 10px;
    }
}
